button {

	border: none;
	outline: none;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.path ul{
	list-style: none;
}
.path ul li{
	display: inline;
}
.path ul li img{
	width: 10px;
	display: inline;
}
.Explorcategory {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(7, 52, 70, 0.219);
	margin-bottom: 30px;
}
.Explorcategory h3{
	display: inline;
	line-height: 50px;
	font-size: 30px;
	color: rgb(7, 52, 70);
}
@media screen and (max-width: 368px) {
	.Explorcategory h3 {
		font-size: 20px;
	}
}
.Explorcategory p {
	display: inline;
	line-height: 50px;
}
.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

.container_card .card {
	background: #fff;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	margin-right: 35px;
	margin-bottom: 35px;
	overflow: hidden;
	z-index: -2;
}

.container_card .card .product {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.container_card .card .product img {
	border-radius: 10px;
	width: 100%;
	height: 300px;
	transition: all ease 0.3s;
	cursor: pointer;
}

.container_card .card .product img:hover {
	transform: scale(1.1);
	border-radius: 0px;
	transition: all ease 0.3s;
}

.container_card .card .text {
	position: relative;
	background-color: rgb(234, 244, 253);
	height: 100px;
}


.container_card .card .text p {
	color: rgb(255, 255, 255);
	position: absolute;
	align-self: center;
	font-size: 20px;
	top: 17px;
		right: 5%;
	font-weight: 900;
	z-index: 90;

}

.container_card .card .text h3 {
	white-space: nowrap;
	padding: 0 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 6px 0px 40px 0px;
	font-size: 15px;
	color: rgb(7, 52, 70);

}
.container_card .card .text h3 a {
	color: rgb(7, 52, 70);
}
.container_card .card .text .title .category_title {
		position: absolute;
			margin-top: -19px;
			text-overflow: ellipsis;
			color: rgb(255, 255, 255);
			width: 100%;
			background: rgb(7, 52, 70);
			padding: 0 10px;
			padding-bottom: 30px;
}

@media screen and (max-width: 410px) {
	.container_card .card .text .title .category_title {
		font-size: 12px;
	}
}
.container_card .card .bottom_img {
	position: relative;
}
.container_card .card .bottom_img img {
	position: absolute;
	display: block;
	width: 297px;
		top: 27px;
		left: 36%;
	transition: all ease 0.3s;
	opacity: 1;
	z-index: 1;
}

.container_card .card .bottom_img img:hover {
	top: -100px;
	transition: all ease 0.3s;
	opacity: 0.1;
	left: 0%;
}

/* footer */

footer {
	bottom: 0px;
	width: 100%;
	background: rgb(7, 52, 70);
	border-radius: 10px 10px 0 0;
	color: rgb(247, 238, 238);
	margin-top: 100px;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin: 20px 0 0 0;
	position: relative;
}

.box .content:before {
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}

.box .content:after {
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #f12020;
	top: -10px;
}

.left .content p {
	text-align: justify;
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content .social a {
	padding: 0 2px;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a span:hover {
	background: #f12020;
}

.center .content .fas {
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .fas:hover {
	background: #f12020;
}

.center .content .text {
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}

.center .content .phone {
	margin: 15px 0;
}

.right form .text {
	font-size: 1.0625rem;
	margin-bottom: 2px;
	color: rgb(247, 238, 238);
}

.right form .msg {
	margin-top: 10px;
}

.right form input,
.right form textarea {
	width: 100%;
	font-size: 1.0625rem;
	background: rgb(247, 238, 238);
	padding-left: 10px;
	border: 1px solid #222222;
	border-radius: 5px;
}

.right form input:focus,
.right form textarea:focus {
	outline-color: #3498db;
}

.right form input {
	height: 35px;
}

.right form .btn {
	margin-top: 10px;
}

.right form .btn button {
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}

.right form .btn button:hover {
	background: #000;
}

.bottom center {
	padding: 5px;
	font-size: 0.9375rem;
	background: rgb(4, 43, 58);
}

.bottom center span {
	color: #656565;
}

.bottom center a {
	color: #f12020;
	text-decoration: none;
}

.bottom center a:hover {
	text-decoration: underline;
}

/* not found */
.notfound{
	text-align: center;
	max-width: 1200px;
	height: 50vh;
}
.box_notfound{
	width: 100%;
	height: 100%;
	background-color: rgb(227, 227, 238);
	padding: 50px;
	border-radius: 10px;
}
.box_notfound h3{
	
	font-size: 30px;
}
@media screen and (max-width: 900px) {
	footer {
		position: relative;
		bottom: 0px;
	}
		.box_notfound h3 {
			font-size: 10px;
		}

	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.main-content .box {
		margin: 5px 0;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		justify-content: center;
	}

	.container_card .card {
		width: 250px;
		height: 350px;
	}

	.container_card .card .product img {
		width: 100%;
		height: 250px;
	}

	.container_card .card .bottom_img img {
		top: 28px;
		left: 30%;
	}
}
@media screen and (min-width: 375px) and (max-width: 700px){
	.container {
		justify-content:space-around;
	}

	.container_card .card {
		max-width: 228px;
		min-width: 180px;
		max-height: 320px;
		min-height: 272px;
	}

	.container_card .card .product img {
		width: 100%;
		max-height: 228px;
		min-height: 180px;
	}

	.container_card .card .text p {
		font-size: 15px;
	}

	.container_card .card .text h3 {
		font-size: 10px;

	}
}
@media screen and (max-width: 380px) {
	.container {
		justify-content: center;
	}
		.container_card{
			width: 95%;
padding: 5% 0;
		}

	.container_card .card {
		width: 100%;
		height: 300px;
		margin: auto;
	}
		.container_card .card .product{
			width: 100%;
		}
	.container_card .card .product img {
		width: 100%;
		height: 200px;
	}

	.container_card .card .text p {
		font-size: 15px;
		right: 10%;
	}

	.container_card .card .text h3 {
		font-size: 10px;

	}
	.container_card .card .bottom_img img {
		top: 28px;
		left: 40%;
	}

}
@media screen and (max-width: 288px) {
	.container_card .card .bottom_img img {
			top: 28px;
			left: 30%;
		}
}
